<section class="w-full flex mt-14 justify-center">
    <div class="w-4/5 rounded-lg shadow p-4">
        <header class="py-2">
            <h1 class="text-2xl font-semibold">Gestion des articles de vente</h1>
        </header>

        <app-form-article-vente></app-form-article-vente>
        
        <div class="border border-gray-300 my-4"></div>

        <app-article-vente-list [articleVente]="response.data"></app-article-vente-list>

        <!-- <div class="flex items-center justify-center">
            <app-pagination [perPage]="response.per_page" [pages]="response.pages" (pageChanged)="onPageChanged($event)"></app-pagination>
        </div> -->
    </div>

</section>