<section class="w-full flex mt-14 justify-center">
    <div class="w-4/5 rounded-lg shadow p-4">
        <header class="py-2">
            <h1 class="text-2xl font-semibold">Article</h1>
        </header>

        <app-form-article
            (addNewArticle)="addNewArticle($event)" (categoryChange)="onCategoryChange($event)"
            (inputArticleLabel)="onInputArticleLabel($event)"  [lastestId]="lastId" [editMode]="editMode" [articleToEdit]="articleToEdit"
            [categories]="categories" [providers]="providers" [approvisionnements]="approvisionnements"
            [articleExists]="articleExists" [articleAdded]="articleAdded">
        </app-form-article>

        <div class="border border-gray-300 my-4"></div>

        <app-article-list [articles]="articles" [loading]="loading"
            (deleteArticle)="onDeleteArticle($event)" (editArticle)="onEditArticle($event)">
        </app-article-list>

        <div class="flex items-center justify-center">
            <app-pagination [perPage]="perPage" [pages]="pages" [currentPage]="currentPage" (pageChanged)="onPageChanged($event)"></app-pagination>
        </div>
    </div>
</section>